@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@layer base {
  body {
   @apply font-[Roboto];
   background-color: var(--bg-color);
   color: var(--text-color);
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

p {
  margin-bottom: 15px;
}

.carousel-image {
  max-width: 100%; 
  max-height: 450px;
  display: block; 
  margin: 0 auto; 
  padding: 20px 0;
}